.page .container .row {
  // display: block;
  padding-top: 128px;
  // height: 80%;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
  .box {
    box-sizing: border-box;
    // display: none;
    position: absolute;
  }
  .content-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-between;
    align-items: start;
    width: 80%;
    height: 100%;
    @include media('<=tablet') {
      flex-direction: column;
    }
    // flex-wrap: wrap;
    .model {
      // margin-top: 100px;
      opacity: 0;
      height: 450px;
      overflow: visible;
      margin: 0 auto;
      @include media('<=tablet') {
        margin-top: -100px;
        height: 400px;
      }
      // img {
      //   height: auto;
      //   width: 100%;
      //   max-width: 400px;
      // }
    }
    .description {
      opacity: 0;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 15%;
      font-size: 1.4rem;
      @include media('<=tablet') {
        top: initial;
        margin: auto;
        font-size: 1.2rem;
        margin-top: -50px;
        width: 75%;
      }
      // margin-top: 100px;

      // margin-top: -50px;
      // top: -1000;
      // left: 50%;
      // -ms-transform: translate(-50%, -50%);
      // transform: translate(-50%, -50%);
    }
  }
}
